$grey: #333333;
$lightgrey: #888888;
$lightestgrey: #e9e9e9;
$middlebluegreen: #8ddbe0;
$steelblue: steelblue;

.gh-user {
  display: flex;
  height: 240px;
  padding: 20px 20px;
  .gh-profile-pic {
    #show-gh-user-profile-pic {
      height: 200px;
      width: 200px;
      img {
        width: 100%;
        margin-right: 10px;
      }
    }
  }
  .gh-user-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    #show-gh-user-username, #show-gh-user-full-name, #show-gh-user-location, #show-gh-user-url, #show-gh-user-repository-count {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      height: 40px;
      width: 500px;
    }
  }
}

#show-gh-user-repos {
  padding-left: 21px;
}

.key {
  font-size: 20px;
  font-weight: bold;
  color: $grey;
}

.value {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 3px;
  color: $lightgrey;
}

.link {
  text-decoration: none;
  letter-spacing: 0;
  color: $middlebluegreen;
  &:hover {
    color: $steelblue;
  }
}

h1, input, button {
    display: block;
}

h1 {
  margin-left: 20px;
}

input, button {
  height: 39px;
  width: 175px;
  margin: 8px 0 8px 20px;
  border-radius: 5px;
}

input {
  border: 2px solid $lightestgrey;
  color: $steelblue;
  padding: 0 0 0 8px;
}

::-webkit-input-placeholder {
  color: $middlebluegreen;
  letter-spacing: 0.5px;
}
::-moz-placeholder {
  color: $middlebluegreen;
  letter-spacing: 0.5px;
}
:-moz-placeholder {
  color: $middlebluegreen;
  letter-spacing: 0.5px;
}
:-ms-input-placeholder {
  color: $middlebluegreen;
  letter-spacing: 0.5px;
}

button {
  background-color: $middlebluegreen;
  border: 2px solid $middlebluegreen;
  color: $grey;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  color: $grey;
  margin: 0;
  padding: 0;
}

.repo-link {
  text-decoration: none;
  letter-spacing: 0;
  color: $grey;
  &:hover {
    color: $middlebluegreen;
  }
}

.repo-name-value {
  font-size: 15px;
  letter-spacing: 3.5px;
  font-weight: lighter;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: $lightgrey;
}

p {
  font-size: 13px;
  font-weight: normal;
  color: $lightgrey;
}
